
body{
    background-image: url(../images/page1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

}
.nav{
    height: 10%;
    width: 100%;
}
.nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    margin-left: 75%;
}

.nav ul li {
    float: right;
   
}
.nav ul li::marker{
   display: none;
   
}


.nav ul li a {
    text-decoration: none;
    color: black;
    padding: 16px 10px;
    font-size: larger;
    display: block;
    font-weight: 900;
}

.nav ul li a:hover {
    color: green;
}
.main{
    color: white;
    text-align: center;
    padding-top: 20%;
    
}
.main h2{
    font-size: 80px;
    padding-bottom: 8px;
    font-family: 'Permanent Marker', cursive;
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.form {
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

.button:hover{
    background-color: #3d1db1;
}

.second-view, .third-view, .fourth-view {
    display: none;
}

.type, .size, .crust{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 5px 20px;
}
.second-view select {  
    height: 40px;
    width: 40%;
    text-align: center;
} 

input[type= "text"],
input[type= "checkbox"],
input[type= "text"]
{
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
table{
    border-collapse: collapse;
    border: #3d1db1;
}
.confirm{
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid #948473;
    font-family: 'Rock Salt';
    text-align: center;
    table-layout: fixed;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
}
.confirm tbody{
    font-family: bold;
}
.checkbox{
    padding-bottom: 20px;
    display: inline-block;
}
tbody tr:nth-child(odd){
    background-color: pink;
}
tbody tr:nth-child(even){
    background-color: #2d9e6f;
}


@media screen and (min-width: 767px) and (max-width: 992px) {
    body{
      margin: 0px;
      align-items: center;
    }
}

