
body{
    background-image: url(../images/page1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

}
.nav{
    height: 10%;
    width: 100%;
}
.nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    margin-left: 75%;
}

.nav ul li {
    float: right;
   
}
.nav ul li::marker{
   display: none;
   
}


.nav ul li a {
    text-decoration: none;
    color: black;
    padding: 16px 10px;
    font-size: larger;
    display: block;
    font-weight: 900;
}

.nav ul li a:hover {
    color: green;
}
.main{
    color: white;
    text-align: center;
    padding-top: 20%;
    
}
.main h2{
    font-size: 80px;
    padding-bottom: 8px;
    font-family: 'Permanent Marker', cursive;
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.button:hover{
    background-color: #3d1db1;
}